appdirs==1.4.4
argcomplete==3.5.2
blinker==1.9.0
click==8.1.7
colorama==0.4.6
escpos==2.0.0
Flask==3.1.0
future==1.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
libusb1==3.1.0
MarkupSafe==3.0.2
pillow==11.0.0
pyserial==3.5
python-barcode==0.15.1
pyusb==1.2.1
pywin32==308
pywinusb==0.4.2
PyYAML==6.0.2
qrcode==8.0
setuptools==75.6.0
six==1.17.0
viivakoodi==0.8.0
Werkzeug==3.1.3
zipp==3.21.0
